@font-face {
    font-family: AbrilFatface;
    src: url(../fonts/custom/AbrilFatface-Regular.otf);
}
@font-face {
    font-family: CrimsonText;
    src: url(../fonts/custom/CrimsonText-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/custom/Montserrat-Regular.otf);
}
@font-face {
    font-family: MontserratLight;
    src: url(../fonts/custom/Montserrat-Light.otf);
}
@font-face {
    font-family: MontserratBold;
    src: url(../fonts/custom/Montserrat-Bold.otf);
}
@font-face {
    font-family: PenumbraSans;
    src: url(../fonts/custom/Penumbra-Sans-Std-Semibold_35117.ttf);
}